.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center{
    position: relative;
    top:20px;
    left:50px;
   
    text-align: center;
}
.card img{
    text-decoration: none;
    color:inherit;
    border:none;
    outline: none;
    height: 360px;
    width: 450px;
    margin: 40px 0px;
}