
 <header>
    <div class="navbar navbar-dark bg-success shadow-sm">
        <div class="navbar-brand align-item-center d-flex"> 
<i class="fas fa-shipping-fast" style="font-size: 40px;" >&nbsp;

</i>
<strong style="font-size: 25px;">
 XYZ Zone
</strong>
<div class="form-group">
   <input type="text " placeholder="Search Products" [(ngModel)]='searchTerm' (keyup)="search($event)" class="form-control">
</div>
<span class="fas fa-search search-icon"></span>
        </div>
        <button routerLink="cart" class="btn-btn-primary"> 
         <i style="font-size: 25px;" class="fas fa-cart-plus">

         </i>
         <div style="font-size: 10px; "class="badge bg-danger">{{totalItem}}

         </div>
        </button>
    </div>
</header> 